@import '../../node_modules/reset-css/sass/_reset';
@import '../../node_modules/slick-carousel/slick/slick.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: 'Roboto', sans-serif;
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=3512b500&noise=e3e3e3&density=60&opacity=5'), -moz-linear-gradient(to bottom, #f5af19 0%, #f12711 100%);
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=3512b500&noise=e3e3e3&density=60&opacity=5'), -webkit-linear-gradient(to bottom, #f5af19 0%, #f12711 100%);
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=3512b500&noise=e3e3e3&density=60&opacity=5'), -o-linear-gradient(to bottom, #f5af19 0%, #f12711 100%);
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=3512b500&noise=e3e3e3&density=60&opacity=5'), -ms-linear-gradient(to bottom, #f5af19 0%, #f12711 100%);
  background: url('http://api.thumbr.it/whitenoise-361x370.png?background=3512b500&noise=e3e3e3&density=60&opacity=5'), linear-gradient(to bottom, #f5af19 0%, #f12711 100%);
  background-size: 250px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: border-box;

  @media screen and (min-width: 576px) and (max-width: 768px) {
    width: 540px;
    padding: 0;
  } 

  @media screen and (min-width: 768px) {
    width: 720px;
    padding: 0;
  } 
}

.btn {
  display: inline-flex;
  height: 50px;
  padding: 0px 15px;
  background-color: #FFF;
  color: #f26518;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;

  &:focus {
    outline: none;
  }

  &--google {
    width: 150px;
    justify-content: center;
  }

  &--logout {
    height: 30px;
  }
}

.header {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  align-items: center;
  
  &--loading {
    background: url('../img/loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid rgba(255,255,255,.15);
    box-sizing: border-box;

    img {
      width: 100%;
    }
  }

  &__title {
    color: #FFF;
    font-size: 25px;
    font-weight: 400;
    flex: 1;
    display: flex;
    align-items: center;

    &--bold {
      font-weight: 700;
    }
  }

  &__sub-title {
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 13px;
  }
}

.todo-list {

  &__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__form-input {
    width: auto;
    flex: 1;
    height: 50px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 0px 15px;
    color: #FFF;
    font-size: 14px;

    &::placeholder {
      color: rgba(255,255,255,0.85);
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &__form-add {
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
    color: #f02d17;
    font-size: 20px;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
}

.card-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  position: relative;

  &__nav-slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 50px;
    background-color: white;
    border-radius: 0px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #f12c13;
    cursor: pointer;

    &.slick-disabled { display: none !important; }

    &--next {
      right: -15px;

      @media screen and (min-width: 768px) {
        border-radius: 0px 5px 5px 0px;
      } 
    }

    &--prev {
      left: -15px;
    
      @media screen and (min-width: 768px) {
        border-radius: 5px 0px 0px 5px;
      } 
    }
  }
}

.slick-slide.slick-current {

  .card { opacity: 1; }
}

.card {
  width: 230px !important;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  display: inline-flex !important;
  flex-direction: column;
  box-sizing: border-box;
  margin: 25px 5px;
  background: rgba(94,7,94,1);
  background: -moz-linear-gradient(135deg, #ffffff 0%, #cacaca 100%);
  background: -webkit-linear-gradient(135deg, #ffffff 0%, #cacaca 100%);
  background: -o-linear-gradient(135deg, #ffffff 0%, #cacaca 100%);
  background: -ms-linear-gradient(135deg, #ffffff 0%, #cacaca 100%);
  background: linear-gradient(135deg, #ffffff 0%, #cacaca 100%);
  box-shadow: 0px 4px 5px 2px rgba(0,0,0,.25);
  opacity: .35;
  transition: all .2s linear;
  
  &__text {
    width: 100%;
    background: rgba(195, 195, 195, 0.6);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    color: #000;
    font-size: 15px;
    line-height: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    flex: 1;
    overflow-y: auto;
  }
  
  &__bottom {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__date {
    color: #000;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  
  &__remove {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 0;
    background: #f02d17;
    color: #FFF;

    &:focus { outline: none; }
  }
}

.slick-slide:focus { outline: none !important; }